[Unit]
Description=filebrowser service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/filebrowser/filebrowser.sh

[Install]
WantedBy=multi-user.target
